main {
    display: flex;
    justify-content: center;
}
.ingresarForm {
    display: flex;
    flex-direction: column;
}
#placa {
    width: 800px;
    height: 200px;
    border-radius: 25px;
    margin-top: 5px;
}
label {
    margin-left: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
